:root {
  --base-color: #05344e;
  --base-color-light: #576e7a;
  --secondary-color: #fff;
  --error-color: #f90000;
}

.app {
  text-align: center;
}

.app-header {
  background-color: var(--base-color);
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--secondary-color);
}

.app-content {
  padding: 20px;
  background-color: var(--secondary-color);
  min-height: 80vh;
}

.temperature-input-container,
.temperature-graph-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px auto;
}

.temperature-input-container {
  height: 35vh;
}

.temperature-graph-container {
  height: 50vh;
}

.description-text {
  color: var(--base-color);
}

.info-text {
  color: var(--base-color-light);
  height: 100%;
}

.error-text {
  color: var(--error-color);
}
.temperatures-input {
  color: var(--base-color-light);
  width: 60vw;
  max-width: 500px;
  height: 25px;
  padding: 8px;
  border: 1px solid var(--base-color);
  border-radius: 8px;
}

.primary-button {
  background-color: var(--base-color-light);

  color: var(--secondary-color);
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;

  &:hover {
    background-color: var(--base-color);
  }
}
