:root {
  --error-color: #f90000;
  --dark-gray: rgba(21, 21, 21, 0.846);
  --regular-orange: rgb(241, 165, 24);
  --light-blue: rgb(48, 145, 230);
}

.overall-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}

.graph-container {
  width: 90vw;
  margin-left: 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.x-description {
  text-align: left;
  font-weight: 800;
}

.positive {
  color: var(--regular-orange);
}

.negative {
  color: var(--light-blue);
}

.x-container {
  display: flex;
  flex-direction: row;
  width: 90vw;
  height: 100%;
}

.x-axis {
  background-color: var(--dark-gray);
  width: 2px;
}

.graph-areas-container {
  position: relative;
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.y-axis {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--dark-gray);
  z-index: 1;
}

.bar-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 24px;
  position: relative;
}

.bar {
  width: 20px;
  border: 1px solid var(--dark-gray);
}

.positive-bar {
  background-color: var(--regular-orange);
  transform: translateY(-50%);
}

.negative-bar {
  background-color: var(--light-blue);
  transform: translateY(50%);
}

.bar-label {
  text-align: end;
  margin: 2px 0;
  height: 16px;
}

.highlighted {
  color: var(--error-color);
  z-index: 3;
  transform: rotate(90deg);
}

.regular {
  color: var(--dark-gray);
  z-index: 3;
  transform: rotate(90deg);
}
